{{#ifLoggedIn}}
  {{#withUser}}
    <h5>
      Logged in as <a href="{{url "users#settings"}}">{{email}}</a>
      <small><a class="icon icon-logout" href="{{url "auth#logout"}}">Log out</a></small>
    </h5>
  {{/withUser}}
{{else}}
    <h5><a href="{{url "auth#login"}}">Log in</a></h5>
{{/ifLoggedIn}}