{{#ifLoggedIn}}
  {{#withUser}}
    <h3>
      Logged in as <a href="{{url "users#show" handle}}">{{name}}</a>
      <small><a class="icon icon-logout" href="{{url "auth#logout"}}">Log out</a></small>
    </h3>
  {{/withUser}}
{{else}}
    <h3><a href="{{url "auth#login"}}">Log in</a></h3>
{{/ifLoggedIn}}